<div class="share sticky-top sticky-top-offset">
  <p>
    Reach Me On
  </p>
  <ul>
    <li class="ml-1 mr-1">
      <a target="_blank" href="mailto:{{ site.me.email }}">
        <i class="far fa-envelope"></i>
      </a>
    </li>
    <li class="ml-1 mr-1">
      <a target="_blank" href="{{ site.me.github }}">
        <i class="fab fa-github"></i>
      </a>
    </li>
    <li class="ml-1 mr-1">
      <a target="_blank" href="{{ site.me.twitter }}">
        <i class="fab fa-twitter"></i>
      </a>
    </li>

    <li class="ml-1 mr-1">
      <a target="_blank" href="{{ site.me.linkedin }}">
        <i class="fab fa-linkedin-in"></i>
      </a>
    </li>
    <li class="ml-1 mr-1">
      <a target="_blank" href="{{ site.me.stackoverflow }}">
        <i class="fab fa-stack-overflow"></i>
      </a>
    </li>
  </ul>
</div>
